
# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.manifest
*.spec
*.pyc
*.pyo

# Django
*.log
*.pot
*.py[cod]
*.sqlite3
db.sqlite3
media/
staticfiles/
static/__pycache__/

# Environment / Secrets
.env
.env.*

# Node / Tailwind
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# VSCode / IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
